.herotitle {
  font-size: 6rem;
  font-family: arial-monospace;
  color: white;
  position: relative;
}
.menubutton {
  justify-self: flex-start;
}
.logo {
  font-size: 3rem;
  justify-self: center;
}
.nav {
  z-index: 4;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33.33%;
  padding: 1rem 0 0 0;
}
.navright {
  display: flex;
  justify-self: flex-end;
}
.typography {
  z-index: 4;
  margin-block: auto;
}
.typography button {
  font-family: arial-monospace;
  font-size: 1.2rem;
  padding-block: 1rem;
  padding-inline: 1.2rem;
  background-color: white;
  border: none;
  cursor: pointer;
}
.typographyleft {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.typographyleftcontent {
  margin-block: 2rem;
}
.scrolldown {
  color: bisque;
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: rotate(90deg);
}
