.image {
  height: 35rem;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 100%;
}
.info {
  font-weight: bold;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
